$color-black: #000000;
$color-blue: #00E6FF;
$color-gray: #69666B;
$color-gray-lightest: #EDEFEE;
$color-gray-lighter: #BDBBBB;
$color-gray-light: #9D9B9B;
$color-gray-dark: #3B393D;

$color-home: mistyrose;
$color-about: #CD7640;
$color-skills: #8dd6cd;
$color-skills: #73bfff;